.nav-logo {
  height: 32px;
  width: auto;
}

.brand-text {
  font-size: 1.4rem;
  letter-spacing: -0.5px;
  color: #1F5E3B; 
}

/* Botón primario */
.btn-primary {
  background-color: #1F5E3B !important;
  border-color: #1F5E3B !important;
}

.btn-primary:hover {
  background-color: #95b07b ;
  border-color: #6F8F4E;
}

/* Botón outline */
.btn-outline-primary {
  color: #1F5E3B !important;
  border-color: #1F5E3B !important;
}

.btn-outline-primary:hover {
  background-color: #6F8F4E !important;
  color: white;
  border-color: #1F5E3B;
}
