.nav-logo {
  height: 32px;
  width: auto;
}

.brand-text {
  font-size: 1.4rem;
  letter-spacing: -0.5px;
  color: #7A9445; 
}

/* Botón primario */
.btn-primary {
  background-color: #7A9445 !important;
  border-color: #7A9445 !important;
}

.btn-primary:hover {
  background-color: #a2b88c ;
  border-color: #a2b88c;
}

/* Botón outline */
.btn-outline-primary {
  color: #1F5E3B !important;
  border-color: #7A9445 !important;
}

.btn-outline-primary:hover {
  background-color: #a2b88c !important;
  color: white;
  border-color: #1F5E3B;
}
