.landing-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  background: linear-gradient(
    135deg,
    rgba(31,44,58,0.85),
    rgba(76,127,240,0.70),
    rgba(224,0,110,0.70)
);
  height: calc(100vh - 80px);
  align-items: center;
}

.landing-collage {
  position: relative;
  width: 480px;
  height: 520px;
}

.img {
  position: absolute;
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 28px;
  box-shadow: rgba(0,0,0,0.18) 0px 10px 25px;
  transition: transform 0.4s ease-out, z-index 0.15s ease;
}

/* Imagen superior izquierda */
.img-1 {
  top: 0;
  left: 0;
  transform: rotate(-4deg);
}

/* Imagen superior derecha */
.img-2 {
  top: 20px;
  right: 0;
  transform: rotate(3deg);
}

/* Imagen inferior izquierda */
.img-3 {
  bottom: 0;
  left: 10px;
  transform: rotate(2deg);
}

/* Imagen inferior derecha */
.img-4 {
  bottom: 40px;
  right: 10px;
  transform: rotate(-2deg);
}

/* Hover scale */
.img:hover {
  transform: scale(1.05) rotate(0deg);
  z-index: 7;
}

.landing-text {
  width: 45%;
  right: 10px;
  
}

.landing-text h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  color: white;
}

.landing-text p {
  font-size: 20px;
  margin-bottom: 24px;
}

.btn-explore {
  padding: 14px 24px;
  background: #d6006e;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 18px;
}
