.login-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100vw;           
  margin: 0;
  padding: 100px 16px 32px;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #406b9f, #9a239d);
  box-sizing: border-box;
}

.login-card {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  padding: 32px;
  width: 350px;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}
